html, body {
    height: 100%;
}

body {
    background: url(../img/background_main.png) repeat;
}

img {
    max-width: 100%;
    margin: 0px auto;
}

#first-container {
    background: url(../img/stage.jpg) center top no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;  
    color: white;
}

.stage {
    max-width: 60rem;
    font-size: 2rem;
    margin: 0 auto;
}

.text-content {
    background: rgba(0,0,0,0.5);
    padding: 1px 5px;
    font-weight: bold;
}

.darker_background {
    background: #024752;
    color: white;
}

.text_center {
    margin: 2rem 0;
    text-align: center;
}

.max-width-60 {
    margin: 0 auto;
    max-width: 60rem;
}

.slider_background_left {
    background: linear-gradient(to right, rgba(2,71,82,0.9) , rgba(0,0,0,0.01));
}

.slider_background_right {
    background: linear-gradient(to right, rgba(0,0,0,0.01) , rgba(2,71,82,0.9));
}

.wraper {
    padding: 5rem 0rem;
}

footer {
    margin-top: 8rem;
    text-align: center;
    background: rgba(11,121,211, 0.6);
}

footer a {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background: grey;
    color: aliceblue;
    text-decoration: none;
    border-radius: 4px;
}

h6 {
    font-weight: bold;
    font-size: 0.6rem;
    text-transform: uppercase;
}

.vertical_center {
    display: flex;
    align-items: center; 
}

@media only screen and (min-width: 992px) {
    .height_restriction {
        max-height: 35rem;
        overflow: hidden;
    }
    
    .height_restriction img{
        margin-bottom: -5rem;
    }
}